:root {
    --light: #DEE9EE;
    --primary: #d32525;
    --darker: #650000;
    border-radius: 2px;
}

body {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    background-color: var(--light);
}

main {
    display: flex;
    justify-content: center;
}

footer {
    padding: 1rem 1rem;
    background-color: var(--darker);
    display: flex;
    justify-content: center;
    color: white;
}

footer > a:visited,
footer > a:link {
    color: var(--light);
}

header {
    display: flex;
    background-color: var(--darker);
    color: var(--light);
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

header > p {
    max-width: 38rem;
    margin-bottom: 1rem;
}

header > p > a:visited,
header > p > a:link {
    color: var(--light);
}

img.header-img {
    height: 3.75rem;
    margin: 1rem 0;
}

header > div {
    display: flex;
    flex-flow: row;
}

menu {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    list-style: none;
}

ul.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    max-width: 84rem;
}

li.project {
    list-style-type: none;
    width: 24rem;
    min-height: 24rem;
    margin: 0.5rem 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h3 {
    margin: 0 0 1rem;
    text-align: center;
}

div.mark-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0.5rem;
}

mark {
    background-color: var(--primary);
    color: white;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0.4rem;
}

p {
    margin: 0 0.5rem 0.5rem;
    text-align: center;
    line-height: 1.5;
}

a.pure-button-primary {
    background: var(--primary);
}
