:root {
    --light: #DEE9EE;
    --primary: #d32525;
    --darker: #650000;
    border-radius: 2px;
}

body {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    background-color: var(--light);
}

main {
    display: flex;
    justify-content: center;
}

footer {
    padding: 1rem 1rem;
    background-color: var(--darker);
    display: flex;
    justify-content: center;
    color: white;
}

footer > a:visited,
footer > a:link {
    color: var(--light);
}

header {
    display: flex;
    background-color: var(--darker);
    color: var(--light);
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

header > p {
    max-width: 38rem;
    margin-bottom: 1rem;
}

header > p > a:visited,
header > p > a:link {
    color: var(--light);
}

img.header-img {
    height: 3.75rem;
    margin: 1rem 0;
}

header > div {
    display: flex;
    flex-flow: row;
}

menu {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    list-style: none;
}

li.menu-item {
    background: var(--primary);
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0.4em 0.8em;
    margin: 1rem 0.8rem;
}

li.menu-item:hover {
    background: var(--darker);
}

li.menu-item > a:link,
li.menu-item > a:visited {
    color: white;
    text-decoration: none;

}

ul.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    max-width: 84rem;
}

li.event {
    list-style-type: none;
    width: 18rem;
    min-height: 24rem;
    margin: 0.5rem 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
}

li.event-canceled > p {
    text-decoration: line-through;
}

li.event-canceled > h3 {
    position: relative;
}

li.event-canceled > h3:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h3 {
    margin: 0 0 1rem;
    text-align: center;
}

div.mark-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

mark {
    background-color: var(--primary);
    color: white;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0.4rem;
}

mark.mark-red {
    background-color: red;
}

p {
    margin: 0 0.5rem 1rem;
    text-align: center;
}

div.event-img-wrap {
    margin: 2rem;
    max-width: 10rem;
    max-height: 10rem;
}

img.event-img {
    width: 100%;
}

a.pure-button-primary {
    background: var(--primary);
}

.pin {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;

    border-radius: 50%;
    border: 8px solid #fff;
    width: 8px;
    height: 8px;
}

.pin::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid #fff;
}
